.user-card {
  padding: 0 !important;
  width: 20rem;
}
.user-item {
  margin: 1rem;
  /* width: calc(45% - 2rem); */
  min-width: 17.5rem;
}

.user-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 2rem;
  color: white;
  background: #15b2b842;
}

.user-item a:hover {
  background: #15b3b87c;
  transition: 0.4s;
  color: white !important;
}

.user-item__content {
  padding: 0;
}

.user-item__image {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

.user-item__info h2 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #ffff00;
}

.user-item__info h3 {
  margin: 0;
}
