.main {
  background-color: aqua;
  position: absolute;
  /* min-height: 100vh; */
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url(./Assets/Image/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
}

.blur {
  background: rgba(2, 2, 2, 0.281);
  backdrop-filter: blur(4px);
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  padding-top: 80px;
}
.content {
  padding-top: 80px;
}
